<center>
<h1 id='title'>480 News!</h1>
</center>

{{#each links}}
	<a href='{{this.url}}'>{{this.title}}</a>,
	<a href='{{this.slug}}'>[comments]</a>
<br><br>
{{/each}}

 <form method='POST' action=''>
	URL: <input type='text' name='url' value=''>
	Title: <input type='text' name ='title' value=''>
	<input type='submit' value='Submit Link!'>
</form>
