body{
	background: linear-gradient(to right, #ADD8E6, #FFFFFF);
	color: black;
}

#title{
	font-variant:small-caps;
	font-weight:bold;
}

#coTitle{
	margin-left:12%;
	font-size:150%;
}

#comment{
	color:gray;
}

#shift{
	margin-left:12%;
}
